<!DOCTYPE html>
<html>
<audio autoplay>
  <source src="assets/sound/tambour.mp3" type="audio/mp3" />
</audio>
<body>
  <article>
    <div class="test">
      <br>
      <a>Vous avez donc reussi ...</a>
      <br>
      <br>
      <a>Vous avez donc merité de voir (roulements de tambours) </a>
      <br>
      <br>
      <br>
      <br>
      <B>Des Stats !</B>
      <br>
      <div class="test">
        <p>MNIST prediction count : {{MNISTcountValue}}</p>
        <p>DogsVcats prediction count : {{dogsVcatsCountValue}}</p>
        <div class="test2">
          <canvas width="200"
                  height="100"
                  mdbChart
                  [chartType]="chartType"
                  [data]="chartData"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <img src="assets/img/bla6.png" width="400" height="400">
    </div>
  </article>
</body>
