<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<body>
  <nav>
    <br>
    <img src="assets/img/bla1.png" width="200" height="200" routerLink="/home" routerLinkActive="active">
    <br>
    <div class="test">
      <I>"Coin coin !"</I>
    </div>
    <br>
    <br>
    <img src="assets/img/bla7.png" width="200" height="200" routerLink="/deep" routerLinkActive="active">
    <br>
    <div class="test">
      <I>"Voulez vous voir votre avenir ?"</I>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="test">
      {{ author1 }}
      <br>
      <br>
      {{ author2 }}
      <br>
      <br>
      {{ author3 }}
    </div>
    <br>
    <br>
    <br>
    <img src="assets/img/bla5.png" width="200" height="200" >
  </nav>
  <article>
    <div class="test">
      <br>
      <a>C'est plutot triste ici ...</a>
      <br>
      <br>
      <a>Tiens un canard bleu !</a>
      <br>
      <br>
      <a>Vous devriez le toucher ...</a>
    </div>
  </article>
</body>
</html>

<router-outlet></router-outlet>
