nav
{
  border: 5px solid black;
  margin-top: -8px;
  margin-left: -16px;
  position: absolute;
  min-height: 99%;
  min-width: 15%;
  background-color: cadetblue;
}

article
{
  position: absolute;
  min-height: 100%;
  min-width: 84.5%;
  margin-top: -8px;
  margin-left: 14.70%;
}

img
{
  text-align: center;
  margin-left: 40px;
}

.test
{
  text-align: center;
}
