<!DOCTYPE html>
<html>
<audio autoplay>
  <source src="assets/sound/coin.mp3" type="audio/mp3" />
</audio>
<body>
  <article>
    <div class=test>
      <br>
      <B face=Arial size="+3">Welcome to {{ title }}</B>
      <br>
      <br>
      <a>Vous voulez rentrez sur notre site, il va falloir montrer patte blanche</a>
      <br>
      <a routerLink="/login" routerLinkActive="active">Venez tapez notre mot de passe si vous l'osez ...</a>
      <br>
      <br>
      <br>
      <img src="assets/img/bla4.png" width="600" height="600" >
      <br>
      <I>"Bienvenue dans l'etang, camarade !"</I>
    </div>
  </article>
</body>
